.venv/
.env
__pycache__/
static/images/Facebook-Brand-Asset-Pack.zip
static/images/github-mark-c791e9551fe4.zip
static/images/linkedin-logos.zip
static/documents/newResume_outdated.txt
static/documents/newResume_outdated.pdf