{% extends "base.html" %} 

{% block title %}- Home{% endblock %} 

{% block body%}
<div class="homepage-content">
  <div class="container">
    <div class="content">
      <h1 class="clean-background text-light display-1">
        Welcome to my Website
      </h1>
      <p class="clean-background text-light fs-5">
        Thank you for visiting my website. Here, you will find detailed
        information about my background, skills, and achievements. Use the
        navigation buttons at the top of the page to explore the various
        sections and learn more about my work.
      </p>
      <p class="clean-background text-light fs-5">
        This site was developed using Python Flask to showcase my technical
        abilities and accomplishments. If you have any questions or wish to
        connect, please use the contact link above to reach out to me
        through your preferred method.
      </p>
    </div>
  </div>
</div>
<footer>
  <div class="footer-image text-light">
    <img src="{{ image_url }}" alt="footer-img">
  </div>
</footer>
{% endblock %}
