/* GENERAL AND BASE PAGE */
body, html {
    background-color: #182235;

    margin: 0;
    padding-bottom: 65px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.navbar {
    z-index: 10;
    position: relative;
}

.me-auto .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-collapse .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.header-image {
    position: relative;
    height: 500px;
    background-size: cover;
    background-position:top;
}

.header-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, transparent, rgba(24, 34, 53, 1));
}

.profile-picture {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-text-container {
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text-container img {
    height: 40px;
    width: 40px;
    margin: 20px;
    background-color:aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.clean-background {
    /* background: linear-gradient(to bottom, rgba(52, 58, 64, 0.5), rgba(24, 34, 53, 0.6));
    background-color: rgba(52, 58, 64, 0.5);
    background-blend-mode: darken;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); */
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

/* HOMEPAGE */
.container {
    display: flex;
}

.content {
    flex: 1;
    max-width: 100%;
    text-align: center;
    position: relative;
}

.content::before,
.content::after {
    content: "";
    position: relative;
    top: 0;
    bottom: 0;
    width: calc((100% - 800px) / 2);
    background: transparent;
}

.content::before {
    left: 0;
}

.content::after {
    right: 0;
}

.homepage-content {
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
    /* background-image: url('/static/images/wife_and_me.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; */
}

.homepage-content::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1;
}

.homepage-content h1 {
    position: relative;
    padding-top: 20px;
    -webkit-text-stroke: 1px #f8f9fa;
    z-index: 2;
    margin-bottom: 100px;
}

.homepage-content p {
    position: relative;
    margin-top: 20px;
    z-index: 2;
}

.footer-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height: 100px;
    overflow: hidden;
    z-index: 9;
}

.footer-image img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.footer-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(to top, transparent, rgba(24, 34, 53, 1));
}

/* RESUME, TRANSCRIPT, AND MILITARY PAGE */
.resume-head, .DD214-head, .TS-head {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    -webkit-text-stroke: 1px #f8f9fa;
}

.resume-button-container, .DD214-button-container, .TS-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.resume-button-container a, .DD214-button-container a, .TS-button-container a {
    padding: 10px;
}

.resume-container, .DD214-container, .TS-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.resume-container embed, .DD214-container embed, .TS-container embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    border: none;
}

.button-space {
    width: 20px;
    display: inline-block;
}

/* LINK PAGE */
.link-content {
    flex: 1;
    max-width: 100%;
    text-align: center;
    position: relative;
}

.link-content h1 {
    padding-top: 20px;
    -webkit-text-stroke: 1px #f8f9fa;
}

.link-content p {
    position: relative;
    max-width: 70%;
    margin: auto;
    min-width: 400px;
    padding-top: 20px;
}

.link-buttons {
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.link-buttons a {
    text-align: center;
    text-decoration: none;
}

.link-buttons img {
    width: 250px;
    height: 250px;
    border: none;
}

.link-text {
    padding-top: 25px;
}

.link-spacer {
    padding-top: 50px;
}

/* SKILLS PAGE */
.skills-description {
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.skills-description h1 {
    -webkit-text-stroke: 1px #f8f9fa;
    
}

.skills-description p {
    max-width: 70%;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

.skills-section {
    flex: 1;
    margin: 10px;
    min-width: 300px; /* Adjust as needed for responsiveness */
}

.skills-section h2 {
    text-align: center;
}

.skill {
    margin-bottom: 15px;
}

.skill p {
    margin: 0;
    font-size: 20px;
}

.progress {
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
    height: 50px;
    margin-top: 5px;
}

.progress-bar {
    height: 100%;
    background-color: #3e598a; /* Adjust the color as needed */
    text-align: center;
    line-height: 25px; /* Align text vertically */
    color: white;
    font-weight: bold;
}

/* color scheme colors:
    #182235
    #3e598a
    #658fdf
*/