body, html {
    background-color: #182235;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    z-index: 10;
}

.me-auto .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-collapse .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    flex: 1;
    max-width: 100%;
    text-align: center;
    position: relative;
}

.content::before,
.content::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc((100% - 800px) / 2); /* Adjust padding width */
    background: transparent; /* Adjust padding color */
}

.content::before {
    left: 0;
}

.content::after {
    right: 0;
}

.clean-background {
    /* background: linear-gradient(to bottom, rgba(52, 58, 64, 0.5), rgba(24, 34, 53, 0.6));
    background-color: rgba(52, 58, 64, 0.5);
    background-blend-mode: darken;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); */
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);


}

.homepage-content {
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top: 60px;
    position: relative;
    background-image: url('/static/images/wife_and_me.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
}

.homepage-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.homepage-content h1 {
    position: relative;
    -webkit-text-stroke: 1px #f8f9fa;
    margin-top: -100px;
    z-index: 2;
    margin-bottom: 100px;
}

.homepage-content p {
    position: relative;
    -webkit-text-stroke: 1px #f8f9fa;
    margin-top: 20px;
    z-index: 2;

}

.text-container {
    text-align: center;
}

.text-container p {
    display: inline;
}

.container {
    display: flex;
}

.left-padding, .right-padding {
    flex: 1;
}

.resume-head, .DD214-head, .TS-head {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.resume-button-container, .DD214-button-container, .TS-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.resume-button-container a, .DD214-button-container a, .TS-button-container a {
    padding: 10px;
}

.button-space {
    width: 20px;
    display: inline-block;
}

.resume-container, .DD214-container, .TS-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 80vh;
    overflow: hidden;
}

.resume-container embed, .DD214-container embed, .TS-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.link-buttons a {
    margin: 10px;
}

.link-text {
    padding-top: 25px;
}

.footer {
    height: 56px;
}

/* color scheme colors:
    #182235
    #3e598a
    #658fdf
*/